@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
  margin: 0;
  font-family: 'Lexend', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f5;
}

code {
  font-family: 'Lexend', sans-serif !important;
}

.back{
  background-image: url("https://drive.google.com/uc?export=view&id=1YXIjDVW-1Tw3tadfFTmRDIHaM6dJZC6N");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}
